extends layout

block head  
    link(rel="stylesheet", href="/stylesheets/index.css")
    script(rel="javascript" src="/javascripts/indexScripts.js")

block content
  h1.title.articlesTitle MEDICAL ARTICLES AND NEWS

  .completeArticles
    each article in articles
      .completeArticle
        .articleTitle=article.title
        .line
        .articleBody 
          .articleImg
            img(src=article.urlToImage)
          .articleDesc=article.content
        .articleFooter
            button.btn.btn-primary.mb-2.butt.signButton.readMoreButton(type='button' data-link=article.url) Read more...
