extends layout

block head  
    link(rel="stylesheet", href="/stylesheets/index.css")
    script(rel="javascript" src="/javascripts/indexScripts.js")

block content
  // HOMEPAGE
  .sectionWelcome
    .leftSectionWelcome
      h1.title Why MEDITREX?
      p Would you like a place to gather all your medical data?
      p Would you like a place to find the doctors more suitable for you?
      p Would you like a place to get medical support whenever you want?
      p Choose MEDITREX and you won't regret!
    .rightSectionWelcome
      img(src='/assets/img/medicalrecord.png')

  if articles == []
    .sectionNews
      h3.title NO CURRENT NEWS AVAILABLE
  else
    .sectionNews
      h1.title NEWS
    
      //NEW ARTICLE LIST
      .sectionArticles
        each article in articles
          .article
            .articleTitle=article.title
            .line
            .articleBody 
              .articleImg
                img(src=article.urlToImage)
              .articleDesc=article.content
            .articleFooter
                button.btn.btn-primary.mb-2.butt.signButton.readMoreButton(type='button' data-link=article.url) Read more...
