 
  .solution_cards_box {
    display: flex;
    flex-wrap: wrap;
    padding: auto;
  }
  
  .solution_cards_box {
    display: flex;
    flex-wrap: wrap;
  }

 .solution_card {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 20px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 265px;
    transition: 0.7s;
    aspect-ratio: 16/9;
    width: 28%;
  }
  
  .solution_card:not(.card_disabled):hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
  }

  .card_disabled{
    background-color: #689E4B;
  }
  
  .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .solution_card:not(.card_disabled):hover .solu_description button {
    background: #fff !important;
    color: #309df0;
  }

  .solu_gp {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    text-align: center;
    background-color: #42c3cac7;
  }

  .solu_gp p {
    color: black; /* Colore del testo */
    font-size: 18px; /* Dimensione del carattere */
    font-family: Arial, sans-serif; /* Font del testo */
    margin: 0; /* Rimuove il margine predefinito */
    padding: 7px; /* Padding interno per il contenuto */
}

  .solu_title img{
    margin: 10px;
  }

  .solu_title {
    color: #212121;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    );
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
  }

  .buttons {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  
  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  
  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }
  
  .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }
  

    @media screen and (max-width: 768px) {
      .solution_card {
        width: 100%;
        margin: 10px;
      }
  
  }
