  .solution_cards_box {
    display: flex;
    flex-wrap: wrap;
    padding: auto;
  }
  .our_solution_category .solution_cards_box {
    display: flex;
    flex-wrap: wrap;
  }

 .solution_card {
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 5px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:not(.card_disabled):hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
  }

  .card_disabled{
    background-color: #689E4B;
  }

  
  
  .solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  

  
  .solution_cards_box .solution_card:not(.card_disabled):hover .solu_description button {
    background: #fff !important;
    color: #309df0;
  }

  .solution_cards_box .solution_card:not(.card_disabled):hover .solu_description a {
    background: #fff !important;
    color: #309df0;
  }

  .solu_title img{
    margin: 10px;
  }

  .solution_card .solu_title {
    color: #212121;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  
  
  .solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .solu_description button, .solu_description a {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    );
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
  }

  .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    );
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
  }
  
  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  
  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }

  .read_more_btn{
    margin-right: 10px;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }
  
  .solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }
  

    @media screen and (max-width: 768px) {
      .solution_card {
        width: 100%;
        margin: 10px;
      }
  
  }

  .actionbuttons {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .actionbuttonslower {
    display: flex;
    justify-content: space-between;
  }

  .actionbuttonslower button {
    width: 50%;
  }

  .actionbuttons a {
    width: 100%;
  }

  .gpbutton {
    width: 100%;
  }

  .gpbutton button {
    width: 100%;
  }

  .pending {
    background-color: #ffe0b2;
  }
